.table{
    width: '60%';
    margin: '30px 80px 80px 120px';
}
.thead{
    color: #FFFFFF;
    font-size: 16px;
}
.thead > * {
    color: #FFFFFF;
    font-size: 16px;
}
.trow{
    font-size: 12px;
}
.trow > * {
    font-size: 12px;
}
.btn-edit{
    margin-right: 20px !important;
}